body, html {
	width:100%;
}

body {
	font-family:Georgia, Garamond, Times New Roman, Times, serif;
}

a {
	color:royalblue;
	text-decoration:none;
	font-weight:600;
}

h1[class^="word"] {
	font-size: 130%;
	font-weight: bold;
	color: #0000C6;
	margin: 0.6em 0 0.3em 0;
}

section[class^="word"] {
	margin-left: 10px;
}

section[class^="word"] p {
	margin: 0;
}

.crossreference {
	color: royalblue;
}

.foreign {
	color:#004080;
	font-style:italic;
}

blockquote {
	color:#505050;
	margin: 4px 20px;
}

br { display: block; margin: 6px 0; content: " "; }

div[class^="related"] {
	background-color: #E0E0E0;
	padding: 3px 3px 3px 12px;
	margin-top: 4px;
}

h1[class^="related"] {
	font-size: 110%;
	font-weight: 600;
	color: #2828FF;
	margin: 0 0 3px -9px;
	padding: 0;
}

ul[class^="related"] {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
ul[class^="related"] a {
	display: inline-block;
	margin-right: 10px;
}
li[class^="related"] {
	display: inline;
	list-style: none;
	padding: 0;
}